.logos{
    height: 75px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: cornflowerblue;
    position: relative;
}

.logos > img {
    width: 150px;
    height: 50px;
}

.logobool {
    position: absolute;
    bottom: 0;
}

h1{
    font-size: 35px;
}

.writtenby{
    color: grey;
}

.author{
    color: cornflowerblue;
    font-weight: 600;
}

.date{
    font-size: small;
}

.containerfoto{
    width: 100%;
}

.portraits{
    height: 300px;
    width: 425px;
}

.subtitle{
    font-size: smaller;
    font-weight: 500;
}

.importantext{
    background-color: yellow;
}

.tabellalo{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.intestabella{
    color: white;
    background-color: rgb(32, 100, 178);
}

.intestabella > tr{
    border: none;
}

.smallcell{
    width: 25%;
}

.bigcell{
    width: 50;
    text-align: justify;
}

.rigadispari{
    background-color: rgb(131, 197, 248);
}

.adfoot{
    color: grey;
    font-weight: 600;
    line-height: 30px;
}

.microcont{
    height: 150px;
    width: 200px;
}

.microcont img{
    background-size: cover;
}

.computer{
    background-image: url(../img/monitor.jpg);
}

.mappa{
    background-image: url(../img/graph.jpg);
}

.sottoad{
    color: white;
    font-size: 20px;
    font-weight: 700;
}